<%# Page For the thing %>
<h1>New Page</h1>

	<% if @page.errors.any? %>
	<h1>  Please check to make sure all fields are entered </h1>
		<ul>
<% @page.errors.full_messages.each do |error| %>
<li><%= error %></li>
<% end %>
<% end %>


</ul>

<%= form_for(@page) do |f| %>
	<p>
	  <select name="page[conent_owners_id]">
      <% @content_owner.each do |conent_owner| %>
        <option value="<%= conent_owner.id %>"><%= conent_owner.office %> </option>
      <% end %>
    </select>
	</p>

	<p>
	<%= f.label :page_path %>
	<%= f.text_field :page_path %>
	</p>

	<p>
	<%= f.label :page_title%>
	<%= f.text_field :page_title%>
	</p>


	<%= f.submit "Submit"%>
	
<% end %>
